body {
    margin : 0 auto;
    padding : 8px  10px;
    width: clamp(320px, 70%, 1080px);
    font-size : 16px;
    border : 3px solid #000000;
    background : #607080;
   /*  #c05020 */
    box-shadow : 0 0 10px 2px #333333;
}

.heading {
  padding : 1px  2px;
  background: #6da;
}

.linker {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensures the container spans the full width available */
}

.page {
  display: grid;
  /* 1fr 1fr creates two equal fractions of space */
  grid-template-columns: 1fr 1fr; 
  gap: 5px; /* Adds space between the columns */

  background : #e0d010;
}

.column + .column {
  border-left: 3px solid #ddaa00;
  padding-left: 5px;
}

a {
  color : #ddaa00
}

img {
    height : 400px;
    width : 300px;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
    font-style: italic;
}

li {
  margin-bottom: 8px;
}
